table,th,td
{
        border: 1px solid white;
        border-collapse:collapse;
        text-align:center;
        font-size:3vw
}

h1
{
    font-size:5vw
}

div
{
    font-size:2vw;
}

a
{
    color:white;
}
a:visited
{
    color:gray;
}

a:hover
{
    color:blue;
}

body
{
    color:white;
    background-color:black;
}
